body {
  background-color: #f5f5ee;
}

/********************************************************************************* ヘッダー
***********************************************************************************/
.header {
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 100;
}
.icon {
  position: fixed;
  top: 10px;
  left: 5.0vw;
  border-radius: 50%;
}
.nav_wrapper {
  position: fixed;
  top: 0;
  right: 4.0vw;
}
.nav_inner {
  display: flex;
  margin-top: 40px;
}
.nav_inner a {
  margin-right: 50px;
}
.url {
  margin-top: 30px;
}
.url a {
  color: #55855b;
  font-size: 21px;
  font-weight: bold;
}

/********************************************************************************* メインビジュアル
***********************************************************************************/
.main_wrapper {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 100px;
}
h1 img {
  width: 200px;
}
.main_item  {
  margin-top: 80px;
  text-align: center;
}
.main_item img {
  width: 800px;
}

/********************************************************************************* ポイント
***********************************************************************************/
.point_wapper {
  margin-top: 50px;
}
.point_wapper  p {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}

/********************************************************************************* 詳細
***********************************************************************************/
.content {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
}
.content li {
  margin-top: 50px;
}
.content h2 {
  font-size: 21px;
  font-weight: bold;
}
.content p {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.5;
}

/********************************************************************************* デザイン
***********************************************************************************/
.design_wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 100px;
}
.pc_design img {
  width: 30vw;
  margin-top: 10px;
  margin-right: 100px;
}
.design_inner {
  display: block;
}
.before_design img {
  width: 30vw;
  margin-top: 10px;
  margin-right: 100px;
}
.sp_design {
  margin-top: 50px;
}
.sp_design img {
  width: 30vw;
  margin-top: 10px;
}

/********************************************************************************* フッター
***********************************************************************************/
footer {
  width: 100vw;
  height: 100px;
  background-color: #cbe0ce;
}
footer p {
  text-align: center;
  padding-top: 50px;
  color: #f5f5ee;
}

/********************************************************************************* スクロールしたら
***********************************************************************************/
/* 右上へパタっ */
.flipRightTop {
  animation-name: flipRightTopAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  }
  @keyframes flipRightTopAnime {
    from {
     transform: translate(-20px,80px) rotate(25deg);
     opacity: 0;
    }
    to {
     transform: translate(0,1) rotate(0deg);
    opacity: 1;
    }
  }

/* ボンッと拡大 */
.zoomIn {
  animation-name: zoomInAnime;
  animation-duration: 2.0s;
  animation-fill-mode: forwards;
}
@keyframes zoomInAnime{
  from {
  transform: scale(0.6);
  }
  to {
      transform: scale(1);
  }
}

/* ふわっ */
.fadeIn {
  animation-name: fadeInAnime;
  animation-duration: 3.0s;
  animation-fill-mode: forwards;
  opacity: 0;
  }
  @keyframes fadeInAnime {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/* 下からフワッと */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 3.0s;
  animation-fill-mode: forwards;
  opacity: 0;
  }
  @keyframes fadeUpAnime {
    from {
      opacity: 0;
    transform: translateY(100px);
    }
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }

/* 下からふわっ */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 2.0s;
  animation-fill-mode: forwards;
  opacity: 0;
  }
  @keyframes fadeUpAnime {
    from {
      opacity: 0;
    transform: translateY(100px);
    }
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }
  .fadeUpTrigger {
    opacity: 0;
  }


/********************************************************************************* スマホレイアウト
***********************************************************************************/
@media screen and (max-width: 1050px) {
/********************************************************************************* ヘッダー
***********************************************************************************/
  .icon img {
    width: 70px;
  }
  .nav_wrapper {
    position: initial;
    right: 0;
  }
  .nav_inner {
    position: absolute;
    left: -100%;
    transition: 0.3s;
    margin-top: 0;
    display: initial;
  }
  .nav_inner.open {
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: #ecf4e6;
    transition: 0.3s
  }
  .nav_inner li {
    margin-top: 60px;
    margin-left: 0;
  }
  .nav_inner a {
    color: #000;
  }
  .open.nav_inner {
    flex-direction: column;
    height: 100vh;
    text-align: center;
  }
  
/********************************************************************************* ハンバーガーメニュー
***********************************************************************************/
  .hamburger {
    position: absolute;
    right: 0;
    width: 100px;
    height: 80px;
  }
  .hamburger span {
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #000;
    top: 0;
    right: 40px;
    transition: 0.3s;
    z-index: 1000;
  }
  .hamburger span:nth-child(1) {
    top: 20px;
  }
  .hamburger span:nth-child(2) {
    top: 30px;
  }
  .hamburger span:nth-child(3) {
    top: 40px;
  }
  .hamburger.active span:nth-child(1) {
    top: 44px;
    transform: rotate(48deg);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    top: 44px;
    transform: rotate(-48deg);
  }

/********************************************************************************* メインビジュアル
***********************************************************************************/
  .url a {
    font-size: 14px;
    margin-left: 10px;
  }
  .main_wrapper {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 50px;
  }
  h1 img {
    width: 100px;
    padding-left: 10px;
  }
  .main_item  {
    margin-top: 50px;
  }
  .main_item img {
    width: 300px;
  }

/********************************************************************************* ポイント
***********************************************************************************/
.point_wapper  p {
  font-size: 14px;
  padding-right: 40px;
  padding-left: 40px;
}

/********************************************************************************* 詳細
***********************************************************************************/
.content {
  max-width: 700px;
  padding: 50px 10px;
}
.content h2 {
  font-size: 20px;
}
.content p {
  font-size: 14px;
}

/********************************************************************************* デザイン
***********************************************************************************/
.design_wrapper {
  max-width: 700px;
  padding: 50px 10px;
}
.design_wrapper p {
  font-size: 14px;
}
.pc_design img {
  margin-right: 50px;
}
.sp_design img {
  width: 20vw;
}
}